@import "assets/fonts/iransans/font-face.css";
@import "assets/css/theme/index.css";
@import "assets/css/material";
@import "assets/css/utilities.css";

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, span {
  font-family: var(--theme-font-family);
}
